body {
  font-size: 18px;
  font-family: sans-serif;
}

#main {
  display: flex;
  flex-direction: horizontal;
}

.column {
  width: 20em;
  padding: 0 1em;
}

.edit-button {
  float: right;
  padding: 0;
}

.edit-card {
  padding: 0.5em 0 0.5em 0;
}

.small-card {
  display: inline;
}

.small-card h1 {
  display: inline;
}

.collapse {
  display: none;
}

.card {
  font-size: 0.9em;
  padding: 0.5em 0 0 0;
  margin-bottom: 1em;
}

.card h1 {
  font-size: 1.1em;
  margin: 0;
}

.card small {
  color: #555;
  font-style: italic;
}

.card .check {
  padding-right: 0.25em;
}

.card .value {
  padding-right: 0.5em;
}

.card .desc {
  margin-top: 0.25em;
}

.card .name {
  cursor: pointer;
}

.card .card-list {
  margin-left: 0.7em;
}

.card hr {
  display: none;
}

.column > .card > .card-list > .card > hr {
  display: block;
  border: 1px solid black;
  margin-top: 0.5em;
}