body {
  font-size: 18px;
  font-family: sans-serif;
  margin: 0;
}

#menu-bar {
  background-color: #eee;
  margin-bottom: 0.5em;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
}

#menu-bar .logo {
  margin: 0.3em;
  padding: 0.2em 0.2em 0.1em 0.2em;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #CD7F32;
  letter-spacing: 0.1em;
  border-radius: 5px;
  display: block;
  color: #eee;
}

#main {
  display: flex;
}

.column {
  width: 20em;
  padding: 0 1em;
}

.action-buttons {
  float: right;
}

.action-buttons input {
  padding: 0;
}

.collapse-arrow {
  padding-right: 0.2em;
  font-size: 0.5em;
  vertical-align: middle;
}

.card, .edit-card {
  font-size: 0.9em;
}

.card h1, .edit-card h1 {
  font-size: 1.1em;
  margin: 0;
}

.card h3, .edit-card h3 {
  font-size: 1em;
  margin-bottom: 0;
}

.card .check, .edit-card .check {
  padding-right: 0.25em;
}

.card .value, .edit-card .value {
  padding-right: 0.25em;
}

.edit-card {
  padding: 0.5em 0 0.5em 0;
}

.edit-card table {
  width: 100%;
}

.edit-card table input {
  padding: 0;
}

.small-card {
  display: inline;
  padding-right: 0.5em;
}

.small-card .small-value {
  padding-right: 0.1em;
}

.collapse {
  display: none;
}

.card {
  padding: 0.5em 0 1em 0;
}

.card small {
  color: #555;
  font-style: italic;
}

.card .desc {
  margin-top: 0.25em;
}

.card .card-list {
  margin-left: 0.7em;
}

.column > .card > .card-list > .card > hr {
  display: block;
  border: 1px solid black;
  margin-top: 0.5em;
}